@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.NavBar{
    display: flex;
    font-family: 'Inter', sans-serif;
    color: blackwhite;
    width: 100%;
    
}

.X{
    color: black;
    font-family: 'Inter', sans-serif;
    
}

.logo{
    width: 32px;
    height: 32px;
    
}